.form-container{
    height: auto;
    width: 90%;
    border: 1px solid gray;
    background-color:#f6f9fc;
    display: flex;
    margin: 10px;
    margin-top: -20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.form{
    display: flex;
    margin: 10px;
    padding: 10px 20px;
}

/* .form-box-container{
  */

.form-box{
    display: flex;
    gap: 450px;
    margin-top: 20px;
    background-color: rgb(174, 216, 216);
    height: 80px;
    width: 900px;
    display: flex;
    border-radius: 5px;
    padding: 15px;
}



.form-box button{

    height: 30px;
    width: 70px;
    cursor: pointer;
    border-radius: 2px;
    justify-content: flex-end;
    margin: 5px;
    padding: 2px 2px;
}

.details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.details-col{
    display: flex;
    gap: 100px;
}

.details-input{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid gray;
}

.details input{
    
    height: 30px;
    padding: 15px 10px;
}

select{
    height: 30px;
}

.details-check{
    display: flex;
    gap: 10px;
}

.details-input-check{
    border: none;
    outline: none;
    border: 1px solid gray;
}

.details p{
    margin-top: 10px;
}

.details-address{
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 2px;
    justify-content: flex-end;
    margin: 5px;
    padding: 2px 2px;
    background-color: rgb(174, 216, 216);
    color: rgb(11, 11, 11);
}

#State{
    width:250px;
}


