.form-container{
    height: 900px;
    width: 90%;
    border: 1px solid gray;
    background-color: rgb(236, 227, 227);
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.form{
    display: flex;
    margin: 10px;
    padding: 10px 20px;
}

/* .form-box-container{
  */

.form-box{
    display: flex;
    gap: 450px;
    margin-top: 20px;
    background-color: rgb(174, 216, 216);
    height: 80px;
    width: 900px;
    display: flex;
    border-radius: 5px;
    padding: 15px;
}



.form-box button{

    height: 30px;
    width: 70px;
    cursor: pointer;
    border-radius: 2px;
    justify-content: flex-end;
    margin: 5px;
    padding: 2px 2px;
}

.details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.details-col{
    display: flex;
    gap: 100px;
}

.details-input{
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid gray;
}

.details input{
    
    height: 30px;
    padding: 10px;
}